[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-xtalk-template = {path = "./django-x-talk-template"}
fontawesome-free = "*"
iottalk-py = "*"
psycopg2-binary = "*"
beautifulsoup4 = "*"

[dev-packages]
autopep8 = "*"
django-sslserver = "*"

[requires]
python_version = "3.10"
