[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fontawesome-free = "*"
iottalk-py = "*"
psycopg2-binary = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
django-jsonview = "*"

[dev-packages]
autopep8 = "*"
django-sslserver = "*"

[requires]
python_version = "3.10"
