/*== table start ==*/
table {
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 8px 8px 8px 8px;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}
thead {
  background-color: #bebebe;
  height: 35px;
}
thead > tr > td {
  height: 35px;
  padding-left: 5%;
  border-left: 2px solid;
}
thead > tr > td:first-child {
  border-top-left-radius: 5px;
  border-left: none;
}
thead > tr > td:last-child {
  border-top-right-radius: 5px;
}
tbody > tr {
  height: 35px;
}
tbody > tr > td {
  text-align: center;
  border-left: 2px solid;
  border-top: 2px solid;
}
tbody > tr > td:first-child {
  border-left: none;
}
tbody > td {
  min-height: 5px;
  border-left: 2px solid;
  border-top: 2px solid;
}
tbody > td:first-child {
  border-left: none;
}
tbody > td > tr {
  height: 35px;
  text-align: center;
  border-top: 2px solid;
}
/*== table end ==*/

select {
  border-color: transparent;
  -webkit-appearance: menulist-button;
  width: 100%;
  height: 33px;
  line-height: 35px;
}

label {
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
#left-window,
#right-window {
  min-height: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

#right-window {
  background-color: #e9e9e9;
}

#feature-container,
#model-container {
  border-style: solid;
  border-width: 2.5px;
  border-radius: 8px 8px 8px 8px;
  height: 100%;
  overflow-y: auto;
}

/*== do start ==*/
.do-container {
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
}

.do-header {
  height: 7%;
}

.do-setting {
  float: left;
  width: 25%;
  border-right: 2px solid;
}

.do-setting-img {
  cursor: pointer;
  height: 100%;
}

.do-device {
  float: left;
  width: 75%;
  overflow: hidden;
  cursor: pointer;
}

.device-name {
  font-weight: normal;
}

.mounted {
  color: blue;
}

.mounted.offline {
  color: red;
}

.do-content {
  border-top: 2px solid;
}

.dfo-container {
  box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);
  border-radius: 8px;
  border: 2px solid;
  margin: 2%;
  cursor: pointer;
  overflow: hidden;
}

.dfo-name {
  width: 75%;
  font-weight: normal;
  cursor: pointer;
  overflow: hidden;
}

.dfo-image[df_type="input"] {
  float: right;
}

.dfo-image[df_type="output"] {
  float: left;
}
/*== do end ==*/

#model-container {
  background-color: white;
}

.management-title {
  width: 100%;
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin-top: 4%;
}

.manage-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.feature-comment-content {
  margin: 5%;
}

.content-title {
  margin-right: 10px;
}

.type-label {
  width: 20%;
}

.manage-content > label > .type-radio {
  margin: 5%;
}

.manage-content > input {
  width: 70%;
}

.type-a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

#df-select,
#dm-select {
  width: 200px;
}

.manage-info-container {
  margin-bottom: 5px;
}

#dfc-select,
#dm-dfc-select {
  width: 25%;
}

#feature-params {
  width: 50px;
}

.feature-type-select,
.feature-unit-select {
  border-color: transparent;
  -webkit-appearance: menulist-button;
  width: 99%;
  height: 99%;
}

.feature-min-input,
.feature-max-input {
  text-align: center;
  width: 100%;
}

#feature-save,
#feature-delete,
#feature-upload,
#model-save,
#model-delete {
  margin: 2px;
}

textarea.feature-comment {
  resize: none;
  height: 80%;
  height: -moz-calc(90% - 50px);
  height: -webkit-calc(90% - 50px);
  height: calc(90% - 50px);
  min-height: 50px;
  max-height: 400px;
  width: 100%;
}

.model-df-list-container {
  max-height: 120px;
  overflow: auto;
  margin: 2px;
}

.model-df-list-container > input {
  width: 100%;
}

.manage-info-container p {
  cursor: pointer;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.none-bold-label {
  font-weight: normal;
}

.selected-df {
  width: 70%;
  overflow: hidden;
}

.selected-df-tag {
  width: 40%;
  float: right;
}

.light {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.5) inset,
    0 -2px 6px rgba(0, 0, 0, 0.25) inset;
  vertical-align: middle;
  margin: 0 2px;
  background: green;
}
