{% extends "./base_navbar.html" %} 

{% block additional_static_files %}
  <link rel="stylesheet" href="/static/main.css"/>
{% endblock %}

{% block title %} WebThing Talk {% endblock %}

{% block xtalk_brand_name %} WebThing Talk {% endblock %}

{% block nav_items %}
{% endblock %}

{% block body %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message | safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
<div id="content" class="row">
  <div id="left-window" class="col-sm-6" style="min-height: 766px">
    <div id="device-container" class="container">
      {% if user.is_authenticated %}
        <label class="management-title">Device List</label>
        {% if user_devices|length > 0 %}
          {% for value in user_devices %}
            <div class="manage-content">
              <div class="do-container">
                <div class="do-header" style="height: 40px">
                  <form class="form-inline" method="post" action="/delete">
                    {% csrf_token %}
                    <input type="hidden" name="key" value={{ value.name }}>
                    <div class="do-setting" style="height: 40px">
                      <button class="do-setting-img btn" type="submit">
                        <i class="fas fa-trash"></i>
                      </button>
                    </div>
                  </form>
                  <div class="do-device">
                    <span class="device-name" style="line-height: 40px">{{ value.name }} ({{ value.model }})</span>
                  </div>
                </div>
                <div class="do-content">
                  {% for val in value.property.all %}
                  <div class="col dfo-container">
                    <label class="dfo-name">{{ val.name }}: {{ val.property }} ({{ val.idf }}, {{ val.odf }})</label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div id="right-window" class="col-sm-6" style="min-height: 766px">
      <label class="management-title mb-2">Add Device</label>
      {% if user.is_authenticated %}
      <form class="form-inline" method="post">
        {% csrf_token %}

        <div class="row mb-2 align-items-center" id="type_block">
          <label class="col-sm-2">Device Type</label>
          <div class="col-sm-6">{{ form.type }}</div>
        </div>

        <div class="row mb-2 align-items-center" id="url_block">
          <label class="col-sm-2">Device URL</label>
          <div class="col-sm-6">{{ form.url }}</div>
          {% comment %} <input class="col-sm-6" type="text" name="url" placeholder="http://192.168.0.100:8888" value="{{ temp_device.url }}" /> {% endcomment %}
          <div class="col-sm-2">
            <button id="check_button" type="submit" class="btn btn-primary btn-sm" formaction="/check-native-device" disabled>Check</button>
            <button id="get_token_button" type="button" class="btn btn-primary btn-sm" style="display:none" disabled onclick="openGetTokenLink()">Get Token</button>
          </div>
          <div class="col-sm-1">
            {% if temp_device.type == 'native' and temp_device.checked and temp_device.connected %}
              <i class="far fa-check-circle fa-2x"></i>
            {% elif temp_device.type == 'native' and temp_device.checked and not temp_device.connected %}
              <i class="fas fa-exclamation-circle fa-2x"></i>
            {% endif %}
          </div>
        </div>

        <div class="row mb-2 align-items-center" id="token_block" style="display:none">
          <label class="col-sm-2">Gateway Token</label>
          <div class="col-sm-6">{{ form.token }}</div>
          <div class="col-sm-2"><button id="check_gateway_button" type="submit" class="btn btn-primary btn-sm" formaction="/connect-gateway" disabled>Connect</button></div>
        </div>

        {% if temp_device.type == "gateway" and temp_device.connected_gateway %}
          <div class="row mb-2 align-items-center">
            <label class="col-sm-2">Gateway Device</label>
            <div class="col-sm-6">{{ form.select_device }}</div>
            <div class="col-sm-2"><button id="check_button" type="submit" class="btn btn-primary btn-sm" formaction="/check-gateway-device">Check</button></div>
          </div>
        {% endif %}

        <div class="row mb-2 align-items-center">
          <label class="col-sm-2">Device Name</label>
          <div class="col-sm-6">{{ form.name }}</div>
        </div>

        <div class="row mb-2 align-items-center">
          <label class="col-sm-2">Claim</label>
          <div class="col-sm-2">{{ form.claim }}</div>
        </div>

        {% if temp_device.properties|length > 0 %}
        <div class="mb-2">
          <label class="content-title">Device Feature</label>
          
          <table class="manage-info-container">
            <thead>
              <td style="width: 30%;">Name</td>
              <td>Property (IDF, ODF)</td>
            </thead>
            <tbody>
              {% for key, value in temp_device.properties.items %}
              <tr>
                <td valign="center">
                  <div class="model-df-list-container">
                    {{ key }}
                  </div>
                </td>
                <td valign="center">
                  <div class="model-df-list-container">
                    {{ value.property }} ({{ value.idf }}, {{ value.odf }})
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}

        <div class="manage-info-container ">
          <button type="submit" formaction="/add" id="model-save" {% if not temp_device.checked or not temp_device.connected %} disabled {% endif %}>Save</button>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function showGatewayBlock() {
    type = document.getElementById("id_type").value
    if (type == "native") {
      document.getElementById("url_block").getElementsByTagName("label")[0].innerHTML="Device URL";
      document.getElementById("token_block").style.display = "none";
      // document.getElementById("id_token").required = false;

      document.getElementById("check_button").style.display = "";
      document.getElementById("get_token_button").style.display = "none";
    } else {
      document.getElementById("url_block").getElementsByTagName("label")[0].innerHTML="Gateway URL";
      document.getElementById("token_block").style.display = "";
      // document.getElementById("id_token").required = true;

      document.getElementById("check_button").style.display = "none";
      document.getElementById("get_token_button").style.display = "";
    }
  }

  function openGetTokenLink() {
    const url = new URL("/oauth/authorize?response_type=code&client_id=local-token&scope=/things:readwrite", document.getElementById("id_url").value);
    window.open(url.href, "_blank");
  }
  
  function init() {
    const url_input = document.getElementById("id_url");
    url_input.addEventListener("input", (event) => {
      document.getElementById("check_button").disabled = url_input.value === "";
      document.getElementById("get_token_button").disabled = url_input.value === "";
    });

    const token_input = document.getElementById("id_token");
    token_input.addEventListener("input", (event) => {
      document.getElementById("check_gateway_button").disabled = token_input.value === "";
    });

    showGatewayBlock();
  }

  window.onload = init;
</script>

{% endblock %}

